[submodule "src/binutils-gdb"]
	path = src/binutils-gdb
	url = git://git-sls.imag.fr/gnu_tools/binutils-gdb.git
[submodule "src/gcc"]
	path = src/gcc
	url = git://git-sls.imag.fr/gnu_tools/gcc.git
[submodule "src/newlib"]
	path = src/newlib
	url = git://git-sls.imag.fr/gnu_tools/newlib.git
[submodule "src/qemu"]
	path = src/qemu
	url = git://git-sls.imag.fr/qemu
